/* loader */
@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-shimmer {
    animation: shimmer 2s infinite;
}

#loader-container.fade-out {
    opacity: 0;
    pointer-events: none;
}